---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Card } from 'accessible-astro-components'
import Tag from '@components/Tag.astro'

import { getCollection, type CollectionEntry } from 'astro:content'

type BlogProps = CollectionEntry<'blog'> & { data: { title?: string; tags?: string[] } }

const posts: BlogProps[] = (await getCollection('blog')).sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
)
---

<DefaultLayout
  title="Post"
  description="An example of a post with dynamic content fetched from JSONPlaceholder using the title, body and userId."
>
  <section class="my-12">
    <div class="space-content container">
      <h1>Blog Posts</h1>
    </div>
  </section>
  <section class="my-12 container">
      <ul class="my-3">
        {
          posts.map((post) => {
            const {
              slug,
              data: { title, pubDate, heroImage, description, tags },
            } = post
            return (
              <li>
                <Card url={'/posts/' + slug} title={title} footer={pubDate} img={heroImage}>
                  <div>
                    <span>{description}</span>
                    {tags && tags.length > 0 && (
                      <div class="tags-container">
                        {tags.map((tag) => (
                          <Tag tag={tag} />
                        ))}
                      </div>
                    )}
                  </div>
                </Card>
              </li>
            )
          })
        }
      </ul>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem 0;
  }
</style>
